<h4>Partners List</h4>
<%= link_to "Create Partner Company", new_admin_partner_path %>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Details</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @partners.each do |partner| %>
		<tr>
			<td><%= partner.name %></td>
			<td><%= partner.details %></td>
			<td>
				<%= link_to "View", [:admin, partner] %>
				<%= link_to "Update", [:edit, :admin, partner] %>
				<%= link_to "Delete", [:admin, partner], :method => :delete, :confirm => "Are you sure?" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>