
<table class="table">
	<thead>
		<tr>
			<th>No</th>
			<th>Chassis No</th>
			<th>Size</th>
			<th>Date Out</th>
			<th>Time Out</th>
			<th>Truck</th>
			<th>Plate No</th>
			<th>Bkg No</th>
			<th>Shipper</th>
			<th>Location</th>
			<th>Date In</th>
			<th>Time In</th>
			<th>Truck</th>
			<th>Plate No</th>
			<th>Container No</th>
			<th>Location</th>
			<th>Status</th>
			<th>Days</th>
			<th>Remarks</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<tr>
			<td><%= item.cmis_no %></td>
			<td><%= item.chassis_no %></td>
			<td><%= item.size %></td>
			<td><%= item.pull_out_date %></td>
			<td><%= item.pull_out_time_out %></td>
			<td><%= item.pull_out_tracker %></td>
			<td><%= item.pull_out_plate_no %></td>
			<td><%= item.booking_no %></td>
			<td><%= item.customer %></td>
			<td><%= item.location_out %></td>
			<td><%= item.return_date %></td>
			<td><%= item.return_time_in %></td>
			<td><%= item.return_tracker %></td>
			<td><%= item.return_plate_no %></td>
			<td><%= item.container_no %></td>
			<td><%= item.status %></td>
			<td><%= item.days %></td>
			<td><%= item.remarks %></td>
		</tr>
		<% end %>
	</tbody>
</table>