
<h4><%= @partner.name %> Details</h4>

<%= form_for [@partner, @file_upload], :html => { :multipart => true } do |f| %>
	<p>
		<%= f.file_field :file %>
	</p>
	<div class="fileUpload">
		<%= f.submit "Import to Database" %>
	</div>
<% end %>

<% if @partner.name == "SPRINT" %>
  <%= render 'sprint_table' %>
<% elsif @partner.name == "LMC" %>
  <%= render 'lmc_table' %>
<% else %>
  <%= render 'cmis_table' %>
<% end %>
