<!DOCTYPE html>
<html>
<head>
  <title>Admin | Mitsui Lines Philippines</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'shared/shim' %>
</head>
<body>
	<%= render 'shared/admin/header' %>
	<div class="container">
		<%= render 'shared/flash_message' %>
		<%= yield %>
	</div>
</body>
</html>
