<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Chassis", chassises_path %></li>
        </ul>
      </nav>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <% @partners.each do |partner| %>
              <li><%= link_to "#{partner.name}", partner %></li>
            <% end %>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Login",  new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
