<h4>Chassis Movement Report</h4>

<table>
  <thead>
    <tr>
      <th>#Id</th>
      <th>#Year</th>
      <th>#Month</th>
      <th>#Leasing Company</th>
      <th>#Chassis</th>
      <th>#Size</th>
      <th>#Container</th>
      <th>#Booking no.</th>
      <th>#Bound</th>
      <th>#Trade</th>
      <th>#Customer</th>
      <th>#Vessel/Dest</th>
      <th>#Chassis pull out date</th>
      <th>#Chassis pull out time</th>

    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.year %></td>
      <td><%= item.month %></td>
      <td><%= item.leasing_company %></td>
      <td><%= item.chassis_no %></td>
      <td><%= item.size %></td>
      <td><%= item.container_no %></td>
      <td><%= item.booking_no %></td>
      <td><%= item.bound %></td>
      <td><%= item.trade %></td>
      <td><%= item.customer %></td>
      <td><%= item.vessel_destination %></td>
      <td><%= item.pull_out_date %></td>
      <td><%= item.pull_out_time_out %></td>
    </tr>
    <% end %>
  </tbody>
</table>
