<h4>Users List</h4>
<%= link_to "Create User", new_admin_user_path %>

<table class="table">
	<thead>
		<tr>
			<th>Email</th>
			<th>Last Logged in?</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= distance_of_time_in_words_to_now(user.last_sign_in_at) %></td>
			<td>
				<%= link_to "View", [:admin, user] %>
				<%= link_to "Update", [:edit, :admin, user] %>
				<%= link_to "Delete", [:admin, user], :method => :delete, :confirm => "Are you sure?" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>